*{margin: 0;
padding:0;
box-sizing: border-box;}
body{
   font-family: 'Source Sans Pro', sans-serif;
}


.navbar ul {
 height:80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
     background-color: blue;
}

.navbar .con {
 background-color: green;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/*home*/
.headings{
    
    color:#fff;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.headings h1{
    font-size:7rem;
    font-weight: 800;
}
.headings .btn-color{
    background-color: #00c3da;
}
/*who*/


.who a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.05em;
   
    
}
.who a:hover{
        background-color: #1f1f1f;
    color: #fff;
}
.who  .firstp{
    position: relative;
}
.who  .firstp:after{
   
    content:"  |for";
     position: absolute;
   left:101%;
    animation-name:software;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
/*
.who  .firstp:before{
    content:"|for";
     position: absolute;
    bottom:0;
    top:0;
   left:100%;   
}*/

 

@keyframes software{
    0%{content:" s|for";  }
    5%{content:"so|for";}
    10%{content:"sof|for";}
    15%{content:"soft|for";}
    20%{content:"softw|for";}
    25%{content:"softwa|for ";}
    30%{content:"softwar|for";}
    35%{content:"software|for";}
    40%{content:"|for";}
    45%{content:"a|for";}
    50%{content:"ap|for";}
    55%{content:"app|for";}
    60%{content:"apps|for";}
    65%{content:"|for";}
    70%{content:"w|for";}
    75%{content:"we|for";}
    80%{content:"web|for";}
    85%{content:"webs|for";}
    90%{content:"websi|for";}
    95%{content:"websit|for";}
    98%{content:"website|for";}
    100%{content:"|for";}
   
}
/*end who*/
/*start team*/
.team .mem-info{
    height:100px;
        background-color: rgba(0, 195, 218, 0.9);
    color: #fff;
}
.member{
    position: relative;
    overflow:hidden;
   
}
.member .mem-info{
    position:absolute;
    top:100%;
    height:100%;
    width:100%;
    transition: all 0.5s;
}
.member:hover .mem-info{
  top:0;
  
}
/*end team*/


/*start what*/
.what{
    color:#fff;
    position: relative;
   
}
.what .back-img{
     background-image: url(../images/bg-image-26.jpg);
    background-size: cover;
    position: absolute;
     top:0;
    left:0;
    bottom: 0;
    right:0;
    z-index: -3;
    
    
}
.what .overlay{
   background-color: #1f1f1f;
     opacity:0.7;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    z-index: -2;
}

/*end what*/




























/*works*/
.works .work-img{
    position: relative;
    overflow:hidden;
}
.works .work-img .work-info{
    background-color: #fff;
    position: absolute;
    bottom:-100%;
    left:10px;
    right:10px;;
    transition: all 1s;
    opacity: 0;
}
.works .work-img:hover .work-info{ 
   bottom:20%;
    opacity: 1;
    
   
}
.works .work-img:hover h3{
    transform: translateX(2px)
}
/*end works*/
